header{
    margin-left: 400;

}
#main{
    margin-left: 50;
    margin-right:50;
}
footer{
    margin-left: 200;

}
.center{
    margin-left:350;   
}
.map{
    margin-left: 110;
    margin-right:100;
}
.content{
    margin-left: 50;
    margin-right:50;
}
.mid{
    margin-left:200;   
}
.midicons{
    margin-left:125; 
}